.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph {
    margin: 0;
    padding: 5px 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.bold_paragraph {
    font-weight: 700;
}