.button_container{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.button {
    width: 130px;
    height: 40px;
    background-color: #f9f047 ;
    border: #0fd850 2px solid;
    border-radius: 20px;
    font-family: 'JetBrains Mono', sans-serif; 
    cursor: pointer;
}
.button:hover {
    background-color: #0fd850;
    border:  #f9f047 2px solid;
}

.card_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #f9f047, #0fd850) 1;
}

.title {
    font-size: 20px;
}

.paragraph {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold_paragraph {
    font-weight: 700;
}

.link {
    margin-top: 20px;
    cursor: pointer;
    color: #0fd850;
    font-size: 14px;
}

.link:hover {
    color: #f9f047;
}