<div class="button_container">
  <button class="button" type="button" (click)="goToPrevious()"  *ngIf="page > 1">Previous page</button>
  <button class="button" type="button" (click)="goToNext()" *ngIf="page < totalPages!">Next page</button>
</div>
<div class="card_container">
  <div class="card" *ngFor="let character of characters">
    <h2 class="title">{{ character.name }}</h2>
    <img [src]="character.image" alt="character.name" />
    <p class="paragraph">
      <span class="bold_paragraph">Status: </span>{{ character.status }}
    </p>
    <p class="paragraph">
      <span class="bold_paragraph">Species: </span>{{ character.species }}
    </p>
    <p class="paragraph">
      <span class="bold_paragraph">Gender: </span>{{ character.gender }}
    </p>
  </div>
</div>
