<div class="rick-and-morty-container">
  <img src="./assets/images/Rick.png" alt="Rick" class="character rick" />
  <img src="./assets/images/Morty.png" alt="Morty" class="character morty" />
  <p class="paragraph">Hello wanderer of the multiverse!</p>
  <p class="paragraph">
    Welcome to the ultimate portal dedicated to the zaniest duo in all of
    dimensions – Rick and Morty. 🚀🌌
  </p>
  <p class="paragraph">
    Prepare to embark on a mind-bending journey through the wacky, the weird,
    and the wildly hilarious adventures of Rick Sanchez and his trusty sidekick
    Morty Smith. Whether you're a fan of intergalactic escapades, bizarre
    scientific experiments, or just looking for a good laugh, you've landed in
    the right place.
  </p>
  <p class="paragraph">
    Join us as we explore parallel universes, dissect the quirkiest characters,
    and dive deep into the chaotic brilliance of this animated phenomenon. Strap
    in, because this portal is your gateway to infinite hilarity and limitless
    fun.
  </p>
  <p class="paragraph">
    So grab your portal gun, buckle up, and get ready for a rollercoaster ride
    across the cosmos with Rick and Morty. It's gonna be one heck of a bizarrely
    entertaining journey!
  </p>

  <p class="paragraph">
    Adventure awaits, fellow traveler. Let's dive into the madness together!
    🌟👽🌟"
  </p>
</div>
